aniso8601==7.0.0
asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
defusedxml==0.7.0
dj-database-url==0.5.0
dj-rest-auth==2.1.3
Django==3.1.8
django-allauth==0.44.0
django-appconf==1.0.4
django-cleanup==5.1.0
django-cors-headers==3.7.0
django-crispy-forms==1.11.1
django-debug-toolbar==3.2.1
django-filter==2.4.0
django-graphql-jwt==0.3.1
django-imagekit==4.0.2
django-jazzmin==2.4.4
djangorestframework==3.12.2
djangorestframework-simplejwt==4.3.0
drf-nested-multipart-parser==0.0.2
drf-writable-nested==0.6.2
FormEncode==2.0.0
freezegun==1.1.0
graphene==2.1.8
graphene-django==2.13.0
graphene-file-upload==1.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.0.4
idna==2.10
mccabe==0.6.1
mock==4.0.3
oauthlib==3.1.0
pilkit==2.0
Pillow==8.1.1
promise==2.3
psycopg2-binary==2.8.6
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
PyJWT==1.7.1
python-dateutil==2.8.1
python-magic==0.4.22
python3-openid==3.2.0
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
Rx==1.6.1
singledispatch==3.6.1
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
ulid-py==1.1.0
Unidecode==1.2.0
urllib3
boto3
django-storages==1.9.1
django-sendgrid-v5